.em {
    height: 1.5em;
    width: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle
}

.em_angel_face {
    background-image: url("images/angel_face.png")
}

.em_anguished_face {
    background-image: url("images/anguished_face.png")
}

.em_anxious_face_with_sweat {
    background-image: url("images/anxious_face_with_sweat.png")
}

.em_beaming_face {
    background-image: url("images/beaming_face.png")
}


.em_blowing_kiss_face {
    background-image: url("images/blowing_kiss_face.png")
}

.em_blush_heart_eyes_face {
    background-image: url("images/blush_heart_eyes_face.png")
}

.em_confused_face {
    background-image: url("images/confused_face.png")
}

.em_crossed_fingers_face {
    background-image: url("images/crossed_fingers_face.png")
}

.em_disappointed_face {
    background-image: url("images/disappointed_face.png")
}

.em_face_savoring_food {
    background-image: url("images/face_savoring_food.png")
}

.em_fearful_face {
    background-image: url("images/fearful_face.png")
}

.em_finger_glasses_face {
    background-image: url("images/finger_glasses_face.png")
}

.em_frowning_face {
    background-image: url("images/frowning_face.png")
}

.em_frowning_open_mouth_face {
    background-image: url("images/frowning_open_mouth_face.png")
}

.em_grimacing_face {
    background-image: url("images/grimacing_face.png")
}

.em_grinning_face {
    background-image: url("images/grinning_face.png")
}

.em_grinning_face_with_big_eyes {
    background-image: url("images/grinning_face_with_big_eyes.png")
}

.em_grinning_face_with_big_mouth {
    background-image: url("images/grinning_face_with_big_mouth.png")
}

.em_grinning_face_with_smiling_eyes {
    background-image: url("images/grinning_face_with_smiling_eyes.png")
}

.em_grinning_face_with_sweat {
    background-image: url("images/grinning_face_with_sweat.png")
}

.em_grinning_squinting_face {
    background-image: url("images/grinning_squinting_face.png")
}

.em_hide_face {
    background-image: url("images/hide_face.png")
}

.em_hushed_face {
    background-image: url("images/hushed_face.png")
}

.em_joke_face {
    background-image: url("images/joke_face.png")
}

.em_joy_face {
    background-image: url("images/joy_face.png")
}

.em_kissing_face_with_smiling_eyes {
    background-image: url("images/kissing_face_with_smiling_eyes.png")
}

.em_mid_slightly_smiling_face {
    background-image: url("images/mid_slightly_smiling_face.png")
}

.em_middle_finger_face {
    background-image: url("images/middle_finger_face.png")
}

.em_neutral_face {
    background-image: url("images/neutral_face.png")
}

.em_no_finger_face {
    background-image: url("images/no_finger_face.png")
}

.em_no_listen_face {
    background-image: url("images/no_listen_face.png")
}

.em_no_mouth_face {
    background-image: url("images/no_mouth_face.png")
}

.em_no_see_face {
    background-image: url("images/no_see_face.png")
}

.em_no_understand_face {
    background-image: url("images/no_understand_face.png")
}

.em_ok_hand_face {
    background-image: url("images/ok_hand_face.png")
}

.em_screaming_in_fear_face {
    background-image: url("images/screaming_in_fear_face.png")
}

.em_slightly_frowning_face {
    background-image: url("images/slightly_frowning_face.png")
}

.em_slightly_smiling_face {
    background-image: url("images/slightly_smiling_face.png")
}

.em_slightly_smiling_victory_face {
    background-image: url("images/slightly_smiling_victory_face.png")
}

.em_smiling_face {
    background-image: url("images/smiling_face.png")
}

.em_smiling_face_with_sunglasses {
    background-image: url("images/smiling_face_with_sunglasses.png")
}

.em_studying_face {
    background-image: url("images/studying_face.png")
}

.em_surprise_open_mouth_face {
    background-image: url("images/surprise_open_mouth_face.png")
}

.em_thinking_flushed_face {
    background-image: url("images/thinking_flushed_face.png")
}

.em_thumbs_down_face {
    background-image: url("images/thumbs_down_face.png")
}

.em_thumbs_up_face {
    background-image: url("images/thumbs_up_face.png")
}

.em_victory_hand_face {
    background-image: url("images/victory_hand_face.png")
}

.em_winking_face {
    background-image: url("images/winking_face.png")
}

.em_worried_face {
    background-image: url("images/worried_face.png")
}

.em_zipper_mouth_face {
    background-image: url("images/zipper_mouth_face.png")
}

.em_poo {
    background-image: url("images/poo.png")
}