.em {
    height: 1.5em;
    width: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle
}

.em_angel_face {
    background-image: url("emojis/angel_face.png")
}

.em_anguished_face {
    background-image: url("emojis/anguished_face.png")
}

.em_anxious_with_sweat_face {
    background-image: url("emojis/anxious_with_sweat_face.png")
}

.em_beaming_face {
    background-image: url("emojis/beaming_face.png")
}

.em_blowing_kiss_face {
    background-image: url("emojis/blowing_kiss_face.png")
}

.em_blush_heart_eyes_face {
    background-image: url("emojis/blush_heart_eyes_face.png")
}

.em_confused_face {
    background-image: url("emojis/confused_face.png")
}

.em_crossed_fingers_face {
    background-image: url("emojis/crossed_fingers_face.png")
}

.em_disappointed_face {
    background-image: url("emojis/disappointed_face.png")
}

.em_fearful_face {
    background-image: url("emojis/fearful_face.png")
}

.em_finger_glasses_face {
    background-image: url("emojis/finger_glasses_face.png")
}

.em_frowning_open_mouth_face {
    background-image: url("emojis/frowning_open_mouth_face.png")
}

.em_grimacing_face {
    background-image: url("emojis/grimacing_face.png")
}

.em_grinning_face_1 {
    background-image: url("emojis/grinning_face_1.png")
}

.em_grinning_face_2 {
    background-image: url("emojis/grinning_face_2.png")
}

.em_grinning_face_3 {
    background-image: url("emojis/grinning_face_3.png")
}

.em_grinning_face_4 {
    background-image: url("emojis/grinning_face_4.png")
}

.em_grinning_with_sweat_face {
    background-image: url("emojis/grinning_with_sweat_face.png")
}

.em_heart_eyes_face {
    background-image: url("emojis/heart_eyes_face.png")
}

.em_hide_face {
    background-image: url("emojis/hide_face.png")
}

.em_hushed_face {
    background-image: url("emojis/hushed_face.png")
}

.em_joke_face {
    background-image: url("emojis/joke_face.png")
}

.em_joy_face {
    background-image: url("emojis/joy_face.png")
}

.em_kissing_face {
    background-image: url("emojis/kissing_face.png")
}

.em_laughing_face {
    background-image: url("emojis/laughing_face.png")
}

.em_middle_finger_face {
    background-image: url("emojis/middle_finger_face.png")
}

.em_murder_face {
    background-image: url("emojis/murder_face.png")
}

.em_neutral_face {
    background-image: url("emojis/neutral_face.png")
}

.em_no_finger_face {
    background-image: url("emojis/no_finger_face.png")
}

.em_no_listen_face {
    background-image: url("emojis/no_listen_face.png")
}

.em_no_mouth_face {
    background-image: url("emojis/no_mouth_face.png")
}

.em_no_see_face {
    background-image: url("emojis/no_see_face.png")
}

.em_no_understand_face {
    background-image: url("emojis/no_understand_face.png")
}

.em_ok_hand_face {
    background-image: url("emojis/ok_hand_face.png")
}

.em_open_mouth_face {
    background-image: url("emojis/open_mouth_face.png")
}

.em_savoring_food_face {
    background-image: url("emojis/savoring_food_face.png")
}

.em_screaming_in_fear_face {
    background-image: url("emojis/screaming_in_fear_face.png")
}

.em_slightly_frowning_face {
    background-image: url("emojis/slightly_frowning_face.png")
}

.em_slightly_smiling_face {
    background-image: url("emojis/slightly_smiling_face.png")
}

.em_slightly_smiling_face_2 {
    background-image: url("emojis/slightly_smiling_face_2.png")
}

.em_slightly_smiling_victory_face {
    background-image: url("emojis/slightly_smiling_victory_face.png")
}

.em_smile_floating_hearts_face {
    background-image: url("emojis/smile_floating_hearts_face.png")
}

.em_smiling_face {
    background-image: url("emojis/smiling_face.png")
}

.em_smiling_face_2 {
    background-image: url("emojis/smiling_face_2.png")
}

.em_studying_face {
    background-image: url("emojis/studying_face.png")
}

.em_surprise_open_mouth_face {
    background-image: url("emojis/surprise_open_mouth_face.png")
}

.em_threat_face {
    background-image: url("emojis/threat_face.png")
}

.em_thumbs_down_face {
    background-image: url("emojis/thumbs_down_face.png")
}

.em_thumbs_up_face {
    background-image: url("emojis/thumbs_up_face.png")
}

.em_victory_hand_face {
    background-image: url("emojis/victory_hand_face.png")
}

.em_worried_face {
    background-image: url("emojis/worried_face.png")
}

.em_white_check_mark {
    background-image: url("emojis/white_check_mark.png")
}

.em_x {
    background-image: url("emojis/x.png")
}

.em_warning {
    background-image: url("emojis/warning.png")
}

.em_raised_hands {
    background-image: url("emojis/raised_hands.png")
}

.em_monster_energy {
    background-image: url("emojis/monster_energy.png")
}

.em_poo {
    background-image: url("emojis/poo.png")
}

.ba_1 {
    background-image: url("banners/1.png")
}

.ba_2 {
    background-image: url("banners/2.png")
}

.ba_3 {
    background-image: url("banners/3.png")
}

.ba_4 {
    background-image: url("banners/4.png")
}