.em {
    height: 1.5em;
    width: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle
}

.em-angel_face {
    background-image: url("images/angel_face.png")
}

.em-anguished_face {
    background-image: url("images/anguished_face.png")
}

.em-anxious_with_sweat_face {
    background-image: url("images/anxious_with_sweat_face.png")
}

.em-beaming_face {
    background-image: url("images/beaming_face.png")
}

.em-blowing_kiss_face {
    background-image: url("images/blowing_kiss_face.png")
}

.em-blush_heart_eyes_face {
    background-image: url("images/blush_heart_eyes_face.png")
}

.em-confused_face {
    background-image: url("images/confused_face.png")
}

.em-crossed_fingers_face {
    background-image: url("images/crossed_fingers_face.png")
}

.em-disappointed_face {
    background-image: url("images/disappointed_face.png")
}

.em-fearful_face {
    background-image: url("images/fearful_face.png")
}

.em-finger_glasses_face {
    background-image: url("images/finger_glasses_face.png")
}

.em-frowning_open_mouth_face {
    background-image: url("images/frowning_open_mouth_face.png")
}

.em-grimacing_face {
    background-image: url("images/grimacing_face.png")
}

.em-grinning_face_1 {
    background-image: url("images/grinning_face_1.png")
}

.em-grinning_face_2 {
    background-image: url("images/grinning_face_2.png")
}

.em-grinning_face_3 {
    background-image: url("images/grinning_face_3.png")
}

.em-grinning_face_4 {
    background-image: url("images/grinning_face_4.png")
}

.em-grinning_with_sweat_face {
    background-image: url("images/grinning_with_sweat_face.png")
}

.em-heart_eyes_face {
    background-image: url("images/heart_eyes_face.png")
}

.em-hide_face {
    background-image: url("images/hide_face.png")
}

.em-hushed_face {
    background-image: url("images/hushed_face.png")
}

.em-joke_face {
    background-image: url("images/joke_face.png")
}

.em-joy_face {
    background-image: url("images/joy_face.png")
}

.em-kissing_face {
    background-image: url("images/kissing_face.png")
}

.em-laughing_face {
    background-image: url("images/laughing_face.png")
}

.em-middle_finger_face {
    background-image: url("images/middle_finger_face.png")
}

.em-murder_face {
    background-image: url("images/murder_face.png")
}

.em-neutral_face {
    background-image: url("images/neutral_face.png")
}

.em-no_finger_face {
    background-image: url("images/no_finger_face.png")
}

.em-no_listen_face {
    background-image: url("images/no_listen_face.png")
}

.em-no_mouth_face {
    background-image: url("images/no_mouth_face.png")
}

.em-no_see_face {
    background-image: url("images/no_see_face.png")
}

.em-no_understand_face {
    background-image: url("images/no_understand_face.png")
}

.em-ok_hand_face {
    background-image: url("images/ok_hand_face.png")
}

.em-open_mouth_face {
    background-image: url("images/open_mouth_face.png")
}

.em-savoring_food_face {
    background-image: url("images/savoring_food_face.png")
}

.em-screaming_in_fear_face {
    background-image: url("images/screaming_in_fear_face.png")
}

.em-slightly_frowning_face {
    background-image: url("images/slightly_frowning_face.png")
}

.em-slightly_smiling_face {
    background-image: url("images/slightly_smiling_face.png")
}

.em-slightly_smiling_face_2 {
    background-image: url("images/slightly_smiling_face_2.png")
}

.em-slightly_smiling_victory_face {
    background-image: url("images/slightly_smiling_victory_face.png")
}

.em-smile_floating_hearts_face {
    background-image: url("images/smile_floating_hearts_face.png")
}

.em-smiling_face {
    background-image: url("images/smiling_face.png")
}

.em-smiling_face_2 {
    background-image: url("images/smiling_face_2.png")
}

.em-studying_face {
    background-image: url("images/studying_face.png")
}

.em-surprise_open_mouth_face {
    background-image: url("images/surprise_open_mouth_face.png")
}

.em-threat_face {
    background-image: url("images/threat_face.png")
}

.em-thumbs_down_face {
    background-image: url("images/thumbs_down_face.png")
}

.em-thumbs_up_face {
    background-image: url("images/thumbs_up_face.png")
}

.em-victory_hand_face {
    background-image: url("images/victory_hand_face.png")
}

.em-worried_face {
    background-image: url("images/worried_face.png")
}

.em-white_check_mark {
    background-image: url("images/white_check_mark.png")
}

.em-x {
    background-image: url("images/x.png")
}

.em-warning {
    background-image: url("images/warning.png")
}

.em-raised_hands {
    background-image: url("images/raised_hands.png")
}