@media (min-width: 1200px){
    .col-lg-2 {
        width: 20%;
    }
}

.mailbox-messages table tbody tr td {
    vertical-align: middle;
}
.mailbox-messages table tbody tr td:nth-child(1) {
    text-align: center;
    width: 25px;
}
.mailbox-messages table tbody tr td:nth-child(2) {
    text-align: center;
    width: 25px;
}
.mailbox-messages table tbody tr td:nth-child(3) {
    width: 250px;
}
.mailbox-messages table tbody tr td:nth-child(4) {
    width: 650px;
}
.mailbox-controls {
    height: 35px;
}
#personalMail thead {
    display: none;
}

.text-yellow {
    color: #f39c12 !important;
}

table.dataTable td, table.dataTable th {
    vertical-align: middle!important;
}

.btn-none {
    background: none;
    outline: 0;
    cursor: default!important;
    padding: 0;
    margin: 0;
    font-size: 20px;
}
.btn-none:active, .btn-none:focus {
    background: none;
    border: 0;
    box-shadow: none;
    outline: 0!important;
}
.btn-none:hover {
    cursor: pointer!important;
}

.btn-floating {
       bottom: 0;
       position: absolute;
       text-align: center;
       z-index: 10000;
       cursor: help;
       right: 0;
       padding: 0;
       border-radius: 50%;
       -webkit-transition: .3s;
       transition: .3s;
       display: inline-block;
       vertical-align: middle;
       line-height: 37px;
       margin: 15px;
       width: 75px;
       color: inherit;
       text-decoration: none;
       height: 75px;
}

.btn-floating:hover{
    box-shadow: 0px 0px 20px 4px #3d3d3d;
}

.colorpicker-2x .colorpicker-saturation {
    width: 200px;
    height: 200px;
}

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
    width: 30px;
    height: 200px;
}

.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div {
    height: 30px;
}

.upload{
    bottom: 0;
    position: absolute;
    background-color: whitesmoke;
    width: 100%;
    height: 70px;
}

.upload:hover{
    box-shadow: 0 0 20px 0px #808080;
}

.upload h2{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.archivo .options{
    opacity: 0.35;
    height: 25px;
    width: 25px;
    float: right;
    position: absolute;
    right: 0;
}

.archivo .options:hover{
    opacity: 1;
    background-color: #fff;
    box-shadow: -2px 2px 10px 0px #808080;
}

.archivo .options i{
    padding-top: 5px;
}

.evento .day{
    margin:auto;
    height:30px;
}

@media (max-width:1199px) {
    .evento .date{
        text-align:center;
        margin-top:1%;
    }
}

@media (min-width:1200px) {
    .evento .date{
        text-align:center;
        margin-top:2%;
    }
}

.header{
    height:70px;
    margin:0;
    padding:0;
    text-align:center;
}

.header-container{
    background-color:#32fea8;
}

.evento .body .title{
    margin:3px 0;
    margin-bottom:3px;
}

.evento .body .text{
    height:43px;
    overflow:hidden;
    text-overflow:ellipsis;
    margin:0;
}

.archivo:hover{
    box-shadow:inset 2px 0px 10px #808080;
    z-index:2;
}

.evento:hover{
    box-shadow:inset 2px 0px 10px #808080;
    z-index:2;
}

.archivos{
    margin:5px;
    padding:0;
    position:relative;
}

.evento{
    margin:5px;
    padding:0;
    border-bottom:1px dashed #000;
    position:relative;
}

.evento .body{
    height:100%;
}

.module{
    height:calc(100vh - 70px);
    margin:0;
    overflow-y:hidden;
    max-height:100vh;
}

.module:hover{
    box-shadow:0 0 20px 5px #808080;
    z-index:1;
    overflow-y:auto;
}

.overflow-hidden{
    overflow:hidden!important;
}

.archivo{
    min-height: 115px;
    max-height: 115px;
    overflow: overlay;
    padding:0 0 0 0;
    text-align:center;
    margin:0 5px 0 5px;
}

.archivo img{
    padding-top: 5px;
    margin:auto;
}

.carpetas{
    height:50px;
}

.carpeta.not-active{
    box-shadow:inset 2px 0px 10px #808080;
}

.carpeta{
    height:50px;
    padding:8px 0 0 0;
    margin:0;
    text-align:center;
    vertical-align:middle;
}

@media (max-width:767px) {
    .header .fa{
        margin-top:20px;
        margin-bottom:10px;
    }
}

.header .fa{
    font-size:30px;
    display:inline-block;
}

.header h2{
    display:inline-block;
}



.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{padding: 15px;margin-right: 15px;margin-left: 15px;content:"";display:table;clear:both}
.w3-topbar{border-top:6px solid #ccc!important}.w3-bottombar{border-bottom:6px solid #ccc!important}
.w3-border-red,.w3-hover-border-red:hover{border-color:#f44336!important}
.w3-pale-red,.w3-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.w3-border-yellow,.w3-hover-border-yellow:hover{border-color:#fcff3b!important}
.w3-pale-yellow,.w3-hover-pale-yellow:hover{color:#000!important;background-color:#fdffdd!important}
